:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-code-background: #f8f8f8;
  --slidev-theme-primary: #9BCA61;
  --zrp-primary: #9BCA61;
  --zrp-secondary: #8C6B96;
  --zrp-tertiary: #6698CB;
  --zrp-background: #212121ff;

}

.slidev-layout {
  background: var(--zrp-background);
  color: #ffffff;

  h1 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }

  li {
    color: #ffffff;
  }

  a {
    color: var(--zrp-primary);
  }
}